:root {
  --gelap: #000;
  --bg: #0b0b0c;

  --biru: rgb(14, 2, 175);
  --merah: #7e0000;
  --kuning: rgb(140, 97, 3);
}

/* Navbar */

.fl-navbar h2 {
  font-family: "Akronim", cursive;
  color: white;
}

.fl-navbar .nav-map a,
.navigasi a {
  color: grey;
}
.fl-navbar .nav-map a:hover {
  color: white;
}
.fl-navbar {
  overflow: visible;
  background-color: var(--gelap);
  padding: 0 15rem 0 15rem;
}

.fl-navbar .nav-map {
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
}
.fl-navbar ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-map a {
  padding: 0;
  margin: 1rem;
}

.nav-map li {
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-map a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  left: 50%;
  bottom: 5px;
  border-radius: 20px;
  transition: 0.5s;
  transform: translateX(-50%);
}

.nav-map a:hover::before {
  width: 50%;
  background: var(--biru);
  box-shadow: 0 0 1px var(--biru), 0 0 8px var(--biru), 0 0 16px var(--biru),
    0 0 24px var(--biru);
  transition: 1s;
}

.active::after {
  transition: 1s;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  border-radius: 20px;
  background: var(--merah);
  box-shadow: 0 0 1px var(--merah), 0 0 8px var(--merah), 0 0 16px var(--biru),
    0 0 24px var(--merah);
}

.fl-canvas {
  position: absolute;
  right: 2rem;
  top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  align-items: center;
  width: 300px;
  height: 260px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  overflow: hidden;
}

.fl-canvas a {
  padding: 0.5rem;
  font-size: 1.4rem;
  font-family: "Sirin Stencil", cursive;
}

.fl-button i,
.fl-canvas a,
.fl-canvas h5 {
  color: white;
}
/* end */

/* FONT */
.home span,
.about span,
.my-skills span,
.service span,
.contact span {
  font-family: "Zen Dots", cursive;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.home span,
.home h4 {
  font-family: "Sirin Stencil", cursive;
}

.home h2 span {
  font-size: 2rem;
  font-family: "Skranji", cursive;
  color: var(--biru);
}

.home h2,
.service h2 {
  color: rgb(255, 255, 255);
  font-family: "Skranji", cursive;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.home h4,
.contact h4 {
  color: rgb(255, 255, 255);
}
.home p,
.about p,
.service p,
.contact p {
  color: rgb(255, 255, 255);
  font-family: "Sirin Stencil", cursive;
}
.fl-navbar li,
.my-skills li {
  color: white;
  font-size: 1.5rem;
  font-family: "Genos", sans-serif;
}
/* end */

/* Default Layout*/

.home,
.about,
.service,
.contact {
  background-color: var(--bg);
  padding: 8rem 15rem 12rem 15rem;
}
/* End */

/* Home */

.home h2,
.home h2 span {
  font-size: 3rem;
}

.home .home-desc {
  display: flex;
  flex-direction: row;
  padding: 0rem 0 0rem 0rem;
}
.home .content-desc {
  /* padding: 2rem 0 2rem 6rem; */
  width: 50%;
}

.home .myimg {
  position: relative;
  /* margin: 4rem; */
  padding: 0;
  /* left: -60px; */
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  overflow: visible;
  border-radius: 50%;
  box-shadow: 0 0 1px var(--biru), 0 0 8px var(--biru), 0 0 16px var(--biru),
    0 0 24px var(--biru);
}
.home img {
  position: relative;
  bottom: 50px;
  left: -30px;
  margin: 0;
  padding: 0;
  width: 20rem;
  height: 20rem;
}
.home .mysosmed {
  margin: 0;
}
.mysosmed ul {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.mysosmed li {
  margin: 0.5em;
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  list-style: none;
  justify-content: center;
  border: 1px solid var(--biru);
  border-radius: 50%;
  transition: 0.5s;
}
.mysosmed li:hover {
  box-shadow: 0 0 1px var(--biru), 0 0 8px var(--biru), 0 0 16px var(--biru),
    0 0 24px var(--biru);
}

.mysosmed i {
  color: grey;
}
.mysosmed i:hover {
  color: var(--biru);
}

/* end */

/* about */
/* .about {
  background-color: var(--gelap);
} */

.about span {
  margin: 0;
  padding: 0;
}

.aboutMe span::before {
  content: "";
  position: relative;
  display: block;
  left: 97px;
  bottom: -14px;
  width: 250px;
  height: 2px;
  border-radius: 20px;
  z-index: 1;
  background: var(--merah);
  box-shadow: 0 0 1px var(--merah), 0 0 8px var(--merah), 0 0 16px var(--biru),
    0 0 24px var(--merah);
}
.about P {
  margin-top: 1rem;
  text-align: justify;
}

.about .aboutMe {
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--bg);
  box-shadow: 0 0 1px var(--merah), 0 0 8px var(--merah), 0 0 16px var(--biru),
    0 0 24px var(--merah);
}
.aboutMe img {
  position: relative;
  padding: 0;
  margin: 2rem 1rem 2rem 1rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.about .skills {
  padding-top: 9rem;
}

.nav-skill ul {
  display: flex;
  flex-direction: row;
}
.nav-skill .btn {
  /* border: 1px solid blue; */
  position: relative;
  width: 160px;
  height: 50px;
  top: 0;
  left: 0;
  margin: 1rem;
}
.nav-skill .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
}
.nav-skill .btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
}

.nav-skill .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3px;
  width: 30px;
  height: 10px;
  background-color: #f00;
  border-radius: 10px;
  transition: 0.5s;
}
.nav-skill .btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
}

.nav-skill .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  backdrop-filter: blur(15px);
}

.nav-skill .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0);
 
}
.nav-skill .btn a:hover::before {
  transform: skewX(45deg) translate(200px);
}
/* .nav-skill a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
} */

.my-skills ul {
  margin: 0;
}

.my-skills li {
  width: 35%;
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  top: 0;
  left: 0;

  align-items: start;
}

.my-skills img {
  height: 1.5rem;
  width: 1.5rem;
}

.my-skills i {
  position: relative;
  top: 0;
  left: 0;
}

.my-skills span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  border-radius: 10px;
  background: grey;
}

.my-skills li::before {
  content: "";
  position: absolute;
  bottom: -9px;
  border-radius: 10px;
  border-top: 0.4rem solid blue;
  border-bottom: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  transition: left 2s;
}
.my-skills li::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 35%;
  bottom: -10px;
  left: 0;
  transform: rotateX(-50%);
  border-radius: 10px;
  background: var(--biru);
  transition: 0.5s;
  box-shadow: 0 0 1px var(--biru), 0 0 8px var(--biru), 0 0 16px var(--biru),
    0 0 24px var(--biru);
  transform: scaleX(0);
  animation: progres 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  transform-origin: left;
}

.my-tools ul {
  padding: 0;
  margin: 1rem;
  list-style: none;
  display: Grid;
  grid-template-columns: 15rem 15rem 15rem;
  grid-template-rows: 7rem;
}
.my-tools li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border: 1px solid Blue;
}

@keyframes progres {
  100% {
    transform: scaleX(1);
  }
}

.my-skills li:nth-child(1)::after {
  width: 80%;
}
.my-skills li:nth-child(1)::before,
.my-skills li:nth-child(1) i {
  font-size: 1rem;
  left: 78%;
}

.my-skills li:nth-child(2)::after {
  width: 75%;
}
.my-skills li:nth-child(2)::before,
.my-skills li:nth-child(2) i {
  font-size: 1rem;
  left: 73%;
}
.my-skills li:nth-child(3)::after {
  width: 67%;
}
.my-skills li:nth-child(3)::before,
.my-skills li:nth-child(3) i {
  font-size: 1rem;
  left: 65%;
}
.my-skills li:nth-child(4)::after {
  width: 12%;
}
.my-skills li:nth-child(4)::before,
.my-skills li:nth-child(4) i {
  font-size: 1rem;
  left: 10%;
}
.my-skills li:nth-child(5)::after {
  width: 1%;
}
.my-skills li:nth-child(5)::before,
.my-skills li:nth-child(5) i {
  font-size: 1rem;
  left: 0%;
}

/* .radial-bars {
  top: 0;
  left: 0;
  position: relative;
  width: 100px;
  height: 100px;
} */
/* @keyframes progres2 {
  100% {
    background-image: conic-gradient(blue 55%, transparent 0%);
  }
} */

/* .about .my-skills {
  padding: 1rem;
}
.my-skills span::before {
  content: "";
  position: relative;
  display: inline-block;
  left: -5px;
  bottom: 2px;
  width: 50px;
  height: 2px;
  border-radius: 20px;
  z-index: 1;
  background: var(--merah);
  box-shadow: 0 0 1px var(--merah), 0 0 8px var(--merah), 0 0 16px var(--biru),
    0 0 24px var(--merah);
}
.navigasi a {
  padding: 0.5rem;
  margin: 1rem;
  text-decoration: none;
}

.navigasi a:hover {
  color: white;
  background-color: var(--biru);
  border-radius: 10px;
}
.lenguage img {
  height: 1.5rem;
  width: 1.5rem;
}

.lenguage ul {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.lenguage li {
  display: flex;
  flex-direction: column;
}

.my-tools ul {
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-rows: 5rem 5rem;
  grid-template-columns: 14rem 14rem 14rem;
}

.my-tools li {
  display: flex;
  flex-direction: row;
  border: 1px var(--biru) solid;
  margin: 1rem;
  padding: 0.5rem;
}

.skill-navigasi .tools li {
  border: 1px solid var(--merah);
}

.skill-navigasi .navigasi {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.my-tools i {
  padding-left: 0.5rem;
  color: white;
}
.my-tools span {
  margin-left: 1rem;
} */

/* end */

/* Service */

.service span {
  font-size: 1.5rem;
}

.service {
  padding-left: 10rem;
  padding-right: 10rem;
}
.service span {
  display: flex;
  justify-content: center;
}

.service .my-service {
  margin-top: 2rem;
  display: flex;
  flex: row;
  justify-content: center;
}
.service .design-service {
  padding: 2rem;
  margin: 1rem;
  width: 18rem;
  height: 19rem;
  border-radius: 10px;
  border: 1px solid blue;
  box-shadow: 0 0 1px var(--biru), 0 0 8px var(--biru), 0 0 16px var(--biru),
    0 0 24px var(--biru);
}

.service i {
  font-size: 2rem;
  color: white;
}

.design-service .btn {
  position: relative;
  width: 160px;
  height: 50px;
  top: 0;
  left: 0;
  margin: 1rem;
}

.design-service .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  backdrop-filter: blur(15px);
}

.design-service .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -3px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.design-service .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -3px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.design-service .btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.design-service .btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.design-service .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.design-service .btn a:hover:before {
  transform: skewX(45deg) translate(200px);
}

/* end */

/* CONTACT */

.contact .content-conct {
  display: flex;
  flex-direction: row;
}

.contact ul {
  padding-top: 3rem;
  list-style: none;
  display: flex;
}

.contact li {
  margin: 0.5rem;
}
.contact a {
  text-decoration: none;
  color: grey;
}
.contact i {
  color: grey;
}
.contact a:hover,
.contact i:hover {
  color: white;
}
.contact .conct-desc {
  margin: 1rem;
  /* width: 50%; */
}

.conct-desc span {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.contact .conct-form {
  margin: 1rem;
  /* width: 50%; */
}

/* END */

/* Leptop  */
@media (max-width: 992px) {
  .fl-navbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .home,
  .about,
  .service,
  .contact {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .home .content-desc {
    padding-left: 0;
  }
}
/* Tablet*/
@media (max-width: 768px) {
  .fl-navbar {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home,
  .about,
  .service {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home .myimg {
    bottom: -30px;
    height: 15rem;
    width: 15rem;
  }
  .home img {
    width: 17rem;
    height: 17rem;
  }

  .about span::before {
    width: 160px;
  }

  .my-skills ul {
    grid-template-columns: 14rem 14rem;
  }

  .content-conct {
    flex-direction: column;
  }
}

/* Mobile phone */
@media (max-width: 576px) {
  .fl-navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .home,
  .about,
  .service,
  .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .home .home-desc {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .home .content-desc {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about span::before {
    width: 100px;
  }
  .about p {
    margin: 0;
  }
  .my-skills ul {
    grid-template-columns: 14rem;
  }

  .contact .content-conct {
    flex-direction: column;
  }
}
